<mat-toolbar color="primary"> <!-- Barra de ferramentas com cor primária -->
    <span> <!-- Espaço para o logo -->
        <a routerLink="inicio"><img src="./assets/img/logo.png"></a> <!-- Link para a página "Inicio" com o logo -->
    </span>
    <span> <!-- Link para a página "Inicio" -->
        <a routerLink="inicio">Início</a>
    </span>
    <span class="example-spacer"></span> <!-- Espaço flexível -->
    <span> <!-- Link para a página "Login" -->
        <a routerLink="login">Login</a>
    </span>
</mat-toolbar>
